= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-xs-4
        = f.label 'Assign user as: '
      .col-xs-6.col-xs-offset-2
        = f.input :role, label: false, :collection => {'Admin' => 'admin', 'Manager' => 'manager'}

    = link_to @user, :class => 'delete-study', :method => :delete, :data => { :confirm => 'Are you sure?' } do
      %i.fa.fa-trash.fa-2x.text-danger{"aria-hidden" => "true"}
      DELETE STAFF
  
  .form-actions.text-center
    .row
      .col-xs-3.col-xs-offset-3
        %button.btn.btn-default.cancel{"data-dismiss" => "modal", :type => "button"} CANCEL
      .col-xs-3
        = f.button :submit, :class => 'update-study', value: 'DONE'
      .col-xs-3